#footer-wrapper {
  height: 200px;
  font-size: 1.2em;
  cursor: default;
  background: #0a0a0a;
}
#footer-content {
  width: 90vw;

  a {
    color: white;
    text-decoration: none;
    text-align: right;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-item {
  width: 220px;
}
