/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    background: black;
    color: white;
    font-family: Jost;
    font-size: 2vmax;
}