#main {
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
    padding: 0 7vw 3vw;
    font-family: 'Roboto';
    background: #111212;
    color: white;
    height: 100vh;
    overflow: hidden;
    transition: background 0.3s ease-in-out;
}
#menu {
    padding: 3vw 0 2vw;
    display: flex;
    justify-content: space-between;
    width: 20vw;
    .menu-items {
        cursor: pointer;
    }
    a {
        color: white;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        &:hover {
            color: #6b6b6b !important;
            transition: color 0.3s ease-in-out;
        }
    }
}
@media only screen and (max-width: 600px) {
    #main {
        display: flex;
        flex-direction: column;
        font-size: 1.8vh;
        padding: 0 5vh 3vh;
        font-family: 'Roboto';
        background: #111212;
        color: white;
        height: 100vh;
        overflow: hidden;
        transition: background 0.3s ease-in-out;
    }
    #menu {
        margin-top: 5em;
        margin-bottom: 10em;
        padding: 3vh 0 2vh;
        display: flex;
        justify-content: space-between;
        width: 30vh;
        .menu-items {
            cursor: pointer;
        }
        a {
            color: white;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
            &:hover {
                color: #6b6b6b !important;
                transition: color 0.3s ease-in-out;
            }
        }
    }
}