<!-- <p>
  <span class="bold">Michał Czyż</span> is a coder living in
  <span class="bold">Poland</span>. His favorite programming languages are
  Javascript, Angular, Python and VB.NET. Currently he's a high school student.
  Besides coding, Michał is also a speedcuber, magician and casual gamer.
</p>
<p>
  On this website, you will find more about his hobbies and projects.
</p> -->
<div id="main">
  <div id="menu">
    <div class="menu-items">
      <a routerLink="coder" routerLinkActive="active">CODER</a>
    </div>
    <div class="menu-items">
      <a routerLink="speedcuber" routerLinkActive="active">SPEEDCUBER</a>
    </div>
    <div class="menu-items">
      <a routerLink="magician" routerLinkActive="active">MAGICIAN</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
