#footer-wrapper {
  height: 100px;
  font-size: 1em;
  position: relative;
}

#footer-content {
  width: 90vw;

  a {
    color: white;
    text-decoration: none;
    text-align: right;

    &:hover {
      text-decoration: underline;
    }
  }
}
.attr {
  text-align: center;
}
.footer-item {
  width: 220px;
}
