<div class="menu-wrapper" fxLayoutAlign="center center">
    <div class="menu-content" fxLayoutAlign="space-between center">
        <div><a href="#hello" (click)="link()">hello</a></div>
        <div fxLayoutAlign="space-between center" fxLayoutGap="40px">
            <div><a href="#info">info</a></div>
            <div><a href="#projects">projects</a></div>
            <div><a href="#hobbies">hobbies</a></div>
            <!-- <div><a href="https://mczyz.ml">resume</a></div> -->
        </div>
    </div>
</div>