/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
}

::-moz-selection {
    background: rgb(177, 177, 177);
    color: white;
}

::selection {
    background: rgb(177, 177, 177);
    color: white;
}