<div id="projects" fxLayoutAlign="center center"></div>
<div id="projects-title" fxLayoutAlign="center center">&lt;projects&gt;</div>
<div id="projects-wrapper">
    <div class="project-content">
        <div class="project" data-aos="fade-up" data-aos-duration="700"></div>
        <div class="project" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700"></div>
    </div>
    <div class="project-content">
        <div class="project" data-aos="fade-up" data-aos-duration="700"></div>
        <div class="project" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700"></div>
    </div>
    <div class="project-content">
        <div class="project" data-aos="fade-up" data-aos-duration="700"></div>
        <div class="project" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700"></div>
    </div>
</div>
<div id="projects-end" fxLayoutAlign="center center">&lt;/projects&gt;</div>
<div id="speedcubing" fxLayoutAlign="center center"></div>
<div id="projects-title" fxLayoutAlign="center center">&lt;speedcubing&gt;</div>
<div id="projects-wrapper">
    <div class="project-content">
        <div class="project" data-aos="fade-up" data-aos-duration="700"></div>
        <div class="project" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700"></div>
    </div>
    <div class="project-content">
        <div class="project" data-aos="fade-up" data-aos-duration="700"></div>
        <div class="project" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700"></div>
    </div>
</div>
<div id="projects-end" fxLayoutAlign="center center">&lt;/speedcubing&gt;</div>
<div id="magic" fxLayoutAlign="center center"></div>
<div id="projects-title" fxLayoutAlign="center center">&lt;magic&gt;</div>
<div id="projects-wrapper">
    <div class="project-content">
        <div class="project" data-aos="fade-up" data-aos-duration="700"></div>
        <div class="project" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700"></div>
    </div>
</div>
<div id="projects-end" fxLayoutAlign="center center">&lt;/magic&gt;</div>

