#hello-wrapper {
    height: calc(100vh - 64px);
    font-size: 10vh;
    line-height: 1;
    position: relative;
    .background {
        background: black;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transform: skewY(-4deg);
        transform-origin: top left;
        z-index: -1;
    }
    #title {
        margin: 0 5vh 8vh;
        padding-top: 12vh;
        cursor: default;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #email {
        font-size: 2vw;
    }
    #icons {
        z-index: 10;
        width: 6vw;
        height: 6vh;
        padding: 5px;
        fill: white;
        transition: 0.3s fill ease-in-out;
    }
    #live-hello {
        overflow: hidden;
        line-height: 1;
        height: 1em;
    }
    #name {
        margin-top: 10px;
    }
    a {
        margin: 0;
        text-decoration: none;
        color: white;
        font-size: 4.5vh;
    }
    #email-address {
        color: white;
        text-decoration: none;
        position: relative;
    }
    #email-me:hover {
        #email-address {
            text-decoration: underline;
        }
    }
    a:active, a:hover {
        .twitter {
            fill: #1DA1F2 !important;
        }
        .instagram {
            fill: #C13584 !important;
        }
        .youtube {
            fill: #FF0000 !important;
        }
        .github {
            fill: #F4CBB2 !important;
        }
        transition: 0.3s fill ease-in-out;
    }
}
#social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 80%;
    a {
        font-size: 8px;
        border-radius: 50%;
    }
}