/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    background: black;
    color: white;
    font-family: Jost;
    scroll-behavior: smooth;
}