<div id="footer-wrapper" fxLayoutAlign="center center">
<div id="footer-content" fxLayoutAlign="space-between center">
  <div class="footer-item" fxLayout="column">
    <span>Michał Czyż</span>
    <span><a href="https://github.com/eRgo35/My-Portfolio">Portfolio v2.0</a></span>
  </div>
  <div class="footer-item" fxLayoutAlign="center center" fxLayout="column">
    <span>All rights reserved.</span>
  </div>
  <div class="footer-item" fxLayoutAlign="center end" fxLayout="column">
    <span>Contact me at</span>
    <span><a href="mailto:mike@czyz.ml">mike@czyz.ml</a></span>
  </div>
</div>
</div>
