#projects-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#projects-title {
  margin-top: 20px;
}

#projects-end {
  margin-bottom: 20px;
}

.project {
  position: relative;
  width: 90vw;
  margin: 15px;
  #project-desc {
    font-size: 5vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.767);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
  }
  &:hover #project-desc, &:focus #project-desc{
    visibility: visible;
    opacity: 1;
  }
  overflow: hidden;
}

.bio {
  width: 90%;
  font-size: 1.3em;
  text-align: justify;
}
